<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact us</title>
        <style>
            *{
                margin: 0;
                padding: 0;
            }
            body{
                background-color: rgb(127, 185, 230);
            }
            h1{
                /* background-color: aqua; */
                text-align: center;
                margin-top: 20px;
                text-decoration: underline;
                color: rgb(8, 8, 103);
            }
            #Support{
                text-align: center;
                /* background-color: aquamarine; */
                margin-top: 40px;
                color: rgb(64, 2, 77);
            }
            .container{
                display: flex;
                justify-content: space-around;
                height: 100%;
                width: 100%;
                margin-top: 6vh;
                /* background-color: aqua; */
            }
            .contain{
                /* background-color: aquamarine; */
                height: 60vh;
                width: 20vw;
                border: 2px black solid;
                border-radius: 30px;
                overflow: hidden;
            }
            .photo{
                height: 70%;
            }
            .h2{
                margin-top: 30px;
                text-align: center;
                color: rgb(3, 77, 67);
            }
            h1:hover{
                opacity: 0.5;
                cursor: pointer;
            }
            #Support:hover{
                opacity: 0.5;
                cursor: pointer;
            }
            .boxes{
                display: flex;
                justify-content: space-around;
            }
            img{
                object-fit: cover;
            }
            .photo{
                background-color: aqua;
                height: 60%;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* overflow: hidden; */

            }
            .down{
                height: 100%;
                background-color: rgb(196, 202, 228);
            }
            h3,h5{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>GET IN TOUCH WITH US</h1>
        <h2 id="Support">Our Support Team</h2>
        <div class="boxes">
            <div class="box">
                <h1 id="chat">Chat Support</h1>
                <p>Our support team is just a click away</p>
            </div>
            <div class="box">
                <h1 id="email">Email supportive</h1>
                <p>Prefer to email? Send us an email and we will get back to you soon.</p>
            </div>
            <div class="box">
                <h1 id="help">Help center</h1>
                <p>Our self-serve help center is open 24/7.</p>
            </div>
        </div>
        <div class="container">
            <div id="one" class="contain">
                <div class="photo">
                    <img src="img/tapas.jpeg" >
                </div>
                <div class="down">
                    <h3>Tapas Walde</h3>
                    <h5>contact no. 7378611973</h5>
                    <h2 class="h2">Web Developer & Engineering Student</h2>
                </div>
            </div>
            <div id="two"  class="contain">
                <div class="photo">
                    <img src="img/sujal.jpeg" >
                </div>
                <div class="down">
                    <h3>Sujal Dhandale</h3>
                    <h5>contact no. 8329376341</h5>
                    <h2 class="h2">Web Developer & Engineering Student</h2>
                </div>
            </div>
            <div id="three"  class="contain">
                <div class="photo">
                    <img src="img/prathamesh.jpeg" >
                </div>
                <div class="down">
                    <h3>Prathamesh Lande</h3>
                    <h5>contact no. 9284222826</h5>
                    <h2 class="h2">Web Developer & Engineering Student</h2>
                </div>
            </div>
            <div id="four"  class="contain">
                <div class="photo">
                    <img src="img/vansh.JPG" >
                </div>
                <div class="down">
                    <h3>Vansh Bamborde</h3>
                    <h5>contact no. 9975787669</h5>
                    <h2 class="h2">Web Developer & Engineering Student</h2>
                </div>
            </div>
        </div>
    </body>
</html>
