<% layout("/layouts/boilerplate") %>
<style>
    body {
    background-color:#8fbc8f ;
    font-family: 'Trebuchet MS';
   }
    h1 {
    font-size: 35px;
   }
    h1 {
    font-size: 21px;
    margin-top: 20px;
   }
    .calculator {
    width: 400px;
    height: 450px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 0px 0px 100px;
    border-radius: 50px; 

    color:#8fbc8f ;
   }
    input {
    padding: 7px;
    width: 70%;
    margin-top: 7px;
   }
.sub{
    width:281px;
    font-size: 21px;
    margin-top: 20px;
    color:black ;
    font-weight: 600;
    display: block;
}
.sub:hover{
    cursor: pointer;
    opacity: 0.8;
}
.bug{
    display: flex;
    flex-direction: column;
}
#btn{
margin-left:40%;
margin-top:40%
}
</style>
<body>
    <h2 style="margin-top: 100px;" id="total"></h2>
    <div style="margin-top: 150px;" class="calculator">
        
        
        <h1>Debt Predictor</h1>
        <p class="bug">Income (₹) &nbsp;&nbsp;&nbsp;&nbsp;:
            <input id="income" type="number"  >
        </p>
   
        <p>Loan Amount (₹) &nbsp;&nbsp;&nbsp;&nbsp;:
            <input id="amount" type="number"  >
        </p>

        <p class="bug">Months to Pay :
            <input id="months" type="number" >
        </p>

        <p>Rate Of Interest on your loan amount :
            <input id="rate" type="number" >
        </p>
        
        
    </div>
<input type="submit" class="sub" onclick="save()" id="btn">
    <script>
        function save() {


const amount = document.querySelector("#amount").value;
const income = document.querySelector("#income").value;


const months = document.querySelector("#months").value;
const rate = document.querySelector("#rate").value;

    calculate(amount,income,months,rate);


}
function calculate(amount,income,months,rate){
const newRate = rate;
const interest = (amount * (newRate * 0.01)) / months;
const total = ((amount / months) + interest).toFixed(2);
const gtotal=12*total;
const pamount=income*(32.5/100).toFixed(2);
let Total=document.querySelector("#total");

if(isNaN(gtotal) || isNaN(pamount) || isNaN(months)){

        Total.innerHTML = "";
        
    }
else if(gtotal>pamount){
    document.getElementById("total").style.color = "red";
    Total.innerHTML = "You may face debt if you take loan in this financial state";
}
    else{
        document.getElementById("total").style.color = "green";
        Total.innerHTML = "You may not face debt if you take loan in this financial state";
    }

}
    </script>
    <h3>*The complete calculation is derived from a firm analysis of surveys conducted by banks and organisations like forbes.</h3>
</body>
