<% layout("/layouts/boilerplate") %>
 <style>
        #body{
            background-image: url("img/pra.jpeg");
            background-size: cover;
        }
        #username,#pasword{
            width: 35%;
            background-color:rgb(234, 237, 244);
            
        }
        #login{
            margin-top: 10px;
        }
        #login:hover{
                background-color:rgb(64, 105, 3);
            }
        #pagee{
            margin-top: 20px;
        }
        #pass,#use{
            font-size: x-large;
            font-weight: 500;
        }
       
    </style>
<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-2">LogIn on Finsock</h1>
        <div class="col-8 offset-2">
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <lable for="username" class="form-label">Username</lable>
                    <input name="username" id="username" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <lable for="password" class="form-label">Password</lable>
                    <input name="password" id="pasword" type="password" class="form-control" required>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</body>
